.container {
    background-color: silver;
    display: flex;
    justify-content: space-around;

}

h1, ul {
    border: 1px solid  red;
}
 .container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}